{{- if and .IsPage (eq .Section "posts") }}
<meta name="citation_title" content="{{ .Title }}">
<meta name="citation_author" content="{{ .Params.author | default site.Params.author }}">
<meta name="citation_publication_date" content="{{ .PublishDate.Format "2006/01/02" }}">
<meta name="citation_online_date" content="{{ .PublishDate.Format "2006/01/02" }}">
<meta name="citation_language" content="{{ .Language.Lang | default "en" }}">
<meta name="citation_fulltext_html_url" content="{{ .Permalink }}">
<meta name="dc.creator" content="{{ .Params.author | default site.Params.author }}">
<meta name="dc.title" content="{{ .Title }}">
<meta name="dc.date" content="{{ .PublishDate.Format "2006-01-02" }}">
<meta name="dc.identifier" content="{{ .Permalink }}">
<meta name="dc.rights" content="Copyright {{ .PublishDate.Format "2006" }} Ajay Khampariya. Citation and reuse policy: {{ "citation-policy/" | absURL }}">
{{- end }}

<script>
    (() => {
        const themes = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"];

        const applyDailyTheme = () => {
            document.documentElement.dataset.dayTheme = themes[new Date().getDay()];
        };

        const scheduleNextDay = () => {
            const now = new Date();
            const nextDay = new Date(now);
            nextDay.setHours(24, 0, 0, 0);

            window.setTimeout(() => {
                applyDailyTheme();
                scheduleNextDay();
            }, nextDay.getTime() - now.getTime());
        };

        applyDailyTheme();
        scheduleNextDay();
    })();
</script>
